<!DOCTYPE html>
<html>

  <head>
    <title>Step Map</title>
    <link href="css/stepmap.css" media="all" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.10.1.min.js"></script>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
    <script type="text/javascript" src="http://backbonejs.org/backbone.js"></script>
    <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script> 
    <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
    <script type="text/javascript" src="stepmap.js"></script>
  </head>

  <body>
    <div id="main">
    <div id="header"><p>Projekt</p><p>Next Step</p></div>
  <ul id="project-list"></ul>
  <div id="sidebar"><h1>StepMap</h1><img id="logo" src="/images/stepmap_logo_kis_img.png"><p>Üdvözlünk!</p><a id="logout" href="logout">Kijelentkezés</a></div>
  </div>
  <script type="text/template" id="project-template">
      <div class="project" style="position: relative; ">
      	  <div class="display">
            <label id="project-name"><%= projectname %></label>
          </div>
          <div class="edit">
  			<input class="project-name-input" type="text" value="<%= projectname %>" />
		  </div>
		  
          <button id="terminate"></button>
      </div>
      <div class="step-out" style="background-position:  -<%= (200-progresswidth) %>px 0;">
      <div class="step" style="position: relative;right: -<%= progresswidth %>px;">
        <div class="stepname">
          <div class="display">
            <label id="nextStep"><%= nextstep %></label>
          </div>
          <div class="edit">
        <input class="nextstep-name-input" type="text" value="<%= nextstep %>" />
      </div>
    </div>
    <div class="stepdeadline">  
      <div class="display">
            <label id="deadline"><%= deadline %></label>
          </div>  
          <div class="edit">
        <input class="nextstep-deadline-input" type="text" type="text" id="datepicker" value="<%= deadline %>" />
      </div>
        </div>
        <button id="closeStep"></button>
      </div>

</div>

        <div class="vote" style="position: relative;right: -<%= progresswidth %>px;">
          <label id="days" style="color: #9f9fb0;position: relative; top:67px; left: 105px;"><%= days %></label>
          <label id="goods" style="color: #ef4035;position: relative; top:12px; left: 83px;"><%= goods %></label>
          <label id="bads" style="color: #ef4035; position: relative; top:67px; left: 20px;font-family: 'bignoodletitlingregular';"><%= bads %></label>
        </div>
        
    </script>
    
     <script type="text/template" id="new-project-template">
  	  <button id="newProject"></button>
    </script>
    
  </body>
 </html>
